@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
      font-family: 'Poppins', sans-serif;
      background-color: black;
      color: white;
      text-decoration: none;
}

ul{
      list-style-type: none;
}

.top{
      margin: 10px;
      display: flex;
      align-items: center;
}

.top i{
      padding: 10px;
      font-size: 25px;
      cursor: pointer;
}

.top i:hover{
      background-color: rgb(21, 21, 21);
      padding: 10px;
      border-radius: 15px;
}

.top h1{
      margin-left: 2rem;
      margin-right: 80rem;
}

.timer{
      display: flex;
      align-items: center;
      justify-content: center;
}

.time-box{
      display: flex;
      justify-content: center;
      text-align: center;
}

.time-box h1{
      font-size: 40px;
      margin: 30px;
}

.time-box p{
      cursor: pointer;
      color: rgb(71, 71, 71);
      font-weight: 900;
}

.time-box .white{
      color: white;
}

.time-box button{
      outline: none;
      border-color: rgb(21, 21, 21);
      border-style: solid;
      border-radius: 50%;
      color: gray;
      width: 70px;
      height: 70px;
      margin-left: 3.125rem;
      margin-top: 128px;
      cursor: pointer;
      font-size: 12px;
      background-color: rgb(21, 21, 21);
}

.blue-button button {
      border-color: #6a6ef0;
      border-style: solid;
      background-color: #6a6ef0;
      color: white;
      font-weight: 900;
      border-radius: 20px;
      width: 160px;
      margin-left: 37.375rem;
      margin-top: 32px;
      height: 50px;
      cursor: pointer;
      font-size: 20px;
}

nav a {
      color: gray;
      text-align: center;
      margin: 7px;
      margin-top: 176px;
      padding: 7px;
      display: flex;
      justify-content: center;
      text-decoration: none;
}


nav a:hover{
      transition: .2s all ease;
      padding: 7px;
      background-color: rgb(21, 21, 21);
      color: white;
      border-radius: 20px;
}

ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

nav .underline{
      text-decoration: underline;
      color: white;
}